// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }
// @font-face {
//     font-family: Opensans;
//     src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
// }
// @font-face {
//     font-family: GreatVibes;
//     src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
// }
@font-face {
    font-family: Bosk;
    src: url(~@/assets/fonts/Bosk/Bosk.ttf)
}
@font-face {
    font-family: Crafter;
    src: url(~@/assets/fonts/Crafter/Crafter-Rough.otf)
}
@font-face {
    font-family: Hansief;
    src: url(~@/assets/fonts/Hansief/Hansief.otf)
}
@font-face {
    font-family: Nikoleta;
    src: url(~@/assets/fonts/Nikoleta/Nikoleta.otf)
}
@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Bold.ttf);
} 