
// COLOR PALETTE
$primary-clr: #26ffc6;
$primary-clr2: #00D9C5;
$primary-clr3: #00B3B9;
$clr2: #2F4858;
$clr4: #f0decb;
$btn-primary: #f0decb;
$my-white: #f7f7f7;

//FONTS
$font-primary: Hansief;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


