
// COLOR PALETTE
$primary-clr: #26ffc6;
$primary-clr2: #00D9C5;
$primary-clr2-darken: #02b6a4;
$primary-clr3: #178669;
$clr2: #2F4858;
$clr4: #f0decb;
$btn-primary: #f0decb;
$my-white: #f7f7f7;
$my-black: #333333;
//FONTS
$font-primary: Hansief;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


