.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-clr2;
    height: 50px;
    padding: 0 20px;
    .logo-container {
        display: flex;
        width: 100px;
    }
    p {
        color: white;
    color: #333333;

        margin: 0;
    }
}
