* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    height: 100vh;
    background-size: 180px;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    // font-family: GreatVibes, serif;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    font-size: rem(50px);
}

img {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
}

ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
  }